In [22]:
#Dependencies and Setup
import pandas as pd
import numpy as np

#Raw data file 
purchase_file = "purchase_data.csv"

#Read the CSV file
purchase_pd = pd.read_csv(purchase_file)
purchase_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [23]:
# use call from purchase_pd to find unique number of names. use Len fuction to turn that into a number.
player_count = len(purchase_pd['SN'].unique())
# plug number into dataframe and display
player_count_df = pd.DataFrame([{'Total Players': player_count}])
player_count_df

   Total Players
0            576

# Purchasing Analysis(Total)

In [24]:
price_mean = purchase_pd['Price'].mean()
price_sum = purchase_pd['Price'].sum()
unique_items = purchase_pd['Item ID'].unique()
item_count = purchase_pd['Purchase ID'].count()

# plug above into a dataframe
analysis_df = pd.DataFrame([{'Number of Unique Items': len(unique_items),
                             'Average Price': price_mean,
                             'Number of Purchases': item_count,
                             'Total Revenue': price_sum
                            }])

In [25]:
# reorganzied data to match that of example
analysis_df_reorder = analysis_df[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]
analysis_df_reorder

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

# Gender Demographics

In [26]:
purchase_pd['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [27]:
# import information from above
male = 652
female = 113
other = 15
# create df on percentage of players and total count.
gender_dem_df = pd.DataFrame({'':['Male','Female','Other / Non-Disclosed'],
                            'Percentage of Players': [male/player_count*100, female/player_count*100,
                                                      other/player_count*100],
                            'Total Count': [male, female, other]
    
})
gender_dem_df.set_index('')

                       Percentage of Players  Total Count

Male                              113.194444          652
Female                             19.618056          113
Other / Non-Disclosed               2.604167           15

# Purchasing Analysis(Gender)

In [30]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_male = purchase_pd.loc[purchase_pd['Gender']== 'Male',:]

price_mean_male = purchase_male['Price'].mean()
price_sum_male = purchase_male['Price'].sum()
unique_items_male = purchase_male['Item ID'].unique()
item_count_male = purchase_male['Purchase ID'].count()

In [31]:
purchase_female = purchase_pd.loc[purchase_pd['Gender'] == 'Female',:]

price_mean_female = purchase_female['Price'].mean()
price_sum_female = purchase_female['Price'].sum()
unique_items_female = purchase_female['Item ID'].unique()
item_count_female = purchase_female['Purchase ID'].count()

In [32]:
purchase_other = purchase_pd.loc[purchase_pd['Gender'] == 'Other / Non-Disclosed',:]

price_mean_other = purchase_other['Price'].mean()
price_sum_other = purchase_other['Price'].sum()
unique_items_other = purchase_other['Item ID'].unique()
item_count_other = purchase_other['Purchase ID'].count()

In [33]:
gender_dem_df = pd.DataFrame({'Gender':['Female','Male','Other / Non-Disclosed'],
                            'Purchase Count': [item_count_female, item_count_male,item_count_other],
                            'Average Purchase Price': [price_mean_female, price_mean_male,price_mean_other],
                            'Total Purchase Price': [price_sum_female, price_sum_male, price_sum_other],
                            'Avg Purchase Total per Person': [female/price_sum_female*10, male/price_sum_male*10, 
                                                              other/price_sum_other*10]
                             })
gender_dem_df.set_index('Gender')

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,3.122064
Male,652,3.017853,1967.64,3.313614
Other / Non-Disclosed,15,3.346000,50.19,2.988643

# Age Demographics

In [51]:
# Establish bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [54]:
purchase_pd["Total Count"] = pd.cut(purchase_pd["Age"], bins, labels=group_names)
purchase_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,,Total Count
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

In [60]:
age_group = purchase_pd.groupby("Total Count")
view_age = age_group["Age"].count()
print(view_age)

Total Count
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [62]:
view_age_df = pd.DataFrame(view_age)
view_age_df

             Age
Total Count
<10           23
10-14         28
15-19        136
20-24        365
25-29        101
30-34         73
35-39         41
40+           13

In [75]:
view_age_df["Percentage of Players"]=purchase_pd['Price'].mean()
view_age_df

             Age  Percentage of Players
Total Count
<10           23               3.050987
10-14         28               3.050987
15-19        136               3.050987
20-24        365               3.050987
25-29        101               3.050987
30-34         73               3.050987
35-39         41               3.050987
40+           13               3.050987

In [76]:
# sorry i didnt have time to finish. i will still continue to work on this